<div class="log-info col-lg-3 col-md-3 col-sm-3">
    <div ng-class="(log.guest.occupation == 'Atleta') ? 'picture-border' : ''">
        <div class="log-time">{{ relativeTime }}</div>
        <div class="log-date">{{ log.created_at | date:'dd-MM-yy HH:mm:ss' }}</div>
    </div>
</div>
<div class="guest-info col-lg-3 col-md-3 col-sm-3">
    <div class="guest-name md-body-2">{{log.guest.name}}</div>
    <div class="guest-email md-body-2">2 acessos autorizados</div>
    <div class="guest-occupation" ng-class="(log.guest.occupation == 'Atleta') ? 'txt-green' : 'txt-orange'">
        {{log.guest.occupation}}
    </div>
</div>
<div class="guest-action-wrapper">
    <div class="guest-action col-lg-1 col-md-1 col-sm-1">
        <button class="guest-action-container">
            <svg class="svg-qrcode" viewBox="0 0 30 30">
                <use xlink:href="../../images/icon-qrcode.svg#svg-qrcode"></use>
            </svg>
            <span class="svg-qrcode">1</span>
        </button>
    </div>
    <div class="guest-action col-lg-1 col-md-1 col-sm-1">
        <button class="guest-action-container">
            <svg class="svg-badge" viewBox="0 0 44.5 27.9">
                <use xlink:href="../../images/icon-badge.svg#svg-badge"></use>
            </svg>
            <span class="svg-badge">2</span>
        </button>
    </div>
    <div class="guest-action col-lg-1 col-md-1 col-sm-1" ng-mouseleave="showBlockBtn=false">
        <button ng-mouseenter="showBlockBtn=true" class="guest-action-container">
            <svg class="svg-block" viewBox="0 0 29 29">
                <use xlink:href="../../images/icon-block.svg#svg-block"></use>
            </svg>
            <div ng-hide="showBlockBtn" class="txt-red">Revogar</div>
            <div ng-hide="showBlockBtn" class="txt-red">acesso</div>
        </button>
        <button ng-mouseenter="showBlockBtn=true" ng-if="showBlockBtn" class="tooltip-action bg-white txt-red"
                ng-click="delete( { guest_id: log.guest.id } )">
            Revogar acesso
        </button>
    </div>
</div>
