<div class="log-info col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div ng-class="(log.guest.occupation == 'Atleta') ? 'picture-border' : ''">
        <div class="log-time">{{ relativeTime }}</div>
        <div class="log-date">{{ log.created_at | date:'dd-MM-yy HH:mm:ss' }}</div>
    </div>
</div>
<div class="guest-info col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="guest-name md-body-2">{{log.guest.name}}</div>
    <div class="guest-occupation" ng-class="(log.guest.occupation == 'Atleta') ? 'txt-green' : 'txt-orange'">
        {{log.guest.occupation}}
    </div>
</div>
<div class="guest-action-wrapper">
    <div class="guest-action col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <button class="guest-action-container">
            <svg class="svg-badge" viewBox="0 0 44.5 27.9">
                <use xlink:href="../../images/icon-badge.svg#svg-badge"></use>
            </svg>
            <span class="svg-badge">2</span>
        </button>
    </div>
</div>
