<div print-section print-only>
  <div class="print-content-top container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rsvp-header">
        <img src="images/asics-logo.png">
      </div>
    </div>
    <div class="print-main-content row">
      <div class="print-qrcode col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="print-qrcode-container">
          <qrcode data="{{ guest.qr_code }}" size="270" version="2" error-correction-level="Q"></qrcode>
        </div>
      </div>
      <div class="print-info col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="print-info-row">
          <div class="txt-bolder">{{strings.confirmedCodeMessage}}</div>
          <div>{{strings.reminderMessage}}</div>
        </div>
        <div class="print-info-row">
          <div class="txt-bolder">{{strings.when}}</div>
          <div ng-bind-html="strings.date"></div>
          <div ng-bind-html="strings.time"></div>
        </div>
        <div class="print-info-row">
          <div class="txt-bolder">{{strings.where}}</div>
          <div>EST. BOCA DO MATO, 803</div>
          <div>VARGEM PEQUENA - RIO DE JANEIRO</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="print-map col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="images/map-lajeado.jpg">
      </div>
    </div>
  </div>
</div>
