<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="asics, 2016, rsvp, atletismo, esprotes, tenis, sapato, corrida, casa, olimpíadas, hub, rio de janeiro">
    <meta name="description" content="Temos o grande prazer de convidá-lo para o ASICS Hub durante as Olimpíadas Rio 2016. O nome descreve exatamente o que vamos oferecer: um hub que vai unir todos os pilares que fazem a ASICS a escolha preferida entre atletas dedicados: nossa história, esportes, atletas, novos produtos, design e performance. Sem contar uma experiência de hospitalidade completa com comidas e bebidas incríveis, entretenimento e outras interações.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#3DB7E4">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">


    <%= stylesheet_link_tag 'application', media: 'bogus', 'data-turbolinks-track' => true %>

    <title>Asics Hub</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>
  </head>
  <body ng-app="asics">
    <base href="/">
    <ui-view></ui-view>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => Rails.env.production? %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </body>
</html>
