<div id="guests-top" class="row bg-gray">
    <div class="counter-card bg-white txt-blue col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1>{{ count.total }}</h1>
        <div>{{ count.total == 1 ? 'Confirmação total' : 'Confirmações totais' }}</div>
    </div>
    <div class="counter-card bg-green txt-white col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1>{{ count.athletes }}</h1>
        <div class="">{{ count.athletes == 1 ? 'Atleta confirmado' : 'Atletas confirmados' }}</div>
    </div>
    <div class="counter-card bg-orange txt-white col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1>{{ count.guests }}</h1>
        <div>{{ count.guests == 1 ? 'Convidado confirmado' : 'Convidados confirmados' }}</div>
    </div>
</div>

<div id="guests-bottom" class="bg-white">
    <div class="search-container">
        <div class="input-group">
            <input type="text" class="form-control">
            <img src="../../images/icon-search.svg">
        </div>
    </div>
    <div id="guests-container">
        <div class="row guest-container" ng-repeat="guest in guests" class="row" my-guest="guest" on-resend="resendEmail(guest_id)"
             on-delete="deleteGuest(guest_id)">
        </div>
    </div>
</div>

