<div class="admin-content" layout="row">
    <div class="container-fluid" flex="flex">
        <div layout="row" class="text-center">
            <md-card flex="30" class="layout-padding">
                <h1>300</h1>
                <div>Confirmações totais</div>
            </md-card>
            <md-card flex="30" class="layout-padding">
                <h1>14</h1>
                <div class="">Atletas confirmados</div>
            </md-card>
            <md-card flex="30" class="layout-padding">
                <h1>286</h1>
                <div class="">Convidados confirmados</div>
            </md-card>
        </div>

        <md-list>
            <md-list-item ng-repeat="guest in guests" class="md-3-line" layout="row">
                <img class="md-avatar">
                <div class="md-list-item-text">
                    <h3 class="guest-name md-body-2">{{guest.name}}</h3>
                    <p class="guest-email md-body-2">{{guest.email}}</p>
                    <p class="guest-email md-body-2">Atleta</p>
                </div>

                <md-button class="button-invitation md-raised">Reenviar convite</md-button>
                <md-button class="button-invitation md-raised">Excluir</md-button>
                <md-button class="button-invitation" ng-disabled="true">Waiting</md-button>
            </md-list-item>
        </md-list>
    </div>
</div>
