<div layout="row" class="text-center">
    <md-card flex="33" class="layout-padding">
        <h1>{{ count.total }}</h1>
        <div>Confirmações totais</div>
    </md-card>
    <md-card flex="33" class="layout-padding">
        <h1>{{ count.athletes }}</h1>
        <div class="">Atletas confirmados</div>
    </md-card>
    <md-card flex="33" class="layout-padding">
        <h1>{{ count.guests }}</h1>
        <div class="">Convidados confirmados</div>
    </md-card>
</div>

<md-list>
    <md-list-item ng-repeat="guest in guests" my-guest="guest" class="md-3-line" layout="row">
    </md-list-item>
</md-list>
