<md-content id="main-container" class="md-padding">
    <div id="form-content" layout="row">
        <md-card flex-offset-gt-sm="25" flex-gt-sm="50" flex-offset-gt-xs="15" flex-gt-xs="70" flex="flex">
            <md-card-content>
                <div class="container-fluid">
                    <h2 class="md-padding">Login</h2>
                </div>
                <form name="loginForm" layout="column" class="md-padding">
                    <md-input-container>
                        <label>Email</label>
                        <input name="email" type="email" ng-model="user.email" minlength="5" maxlength="100" ng-pattern="/^.+@.+..+$/" required="required"/>
                        <div ng-messages="loginForm.email.$error">
                            <div ng-message="pattern">Email inválido</div>
                            <div ng-message="required">Por favor, preencha seu email</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Senha</label>
                        <input name="password" type="password" ng-model="user.password" required="required"/>
                        <div ng-messages="loginForm.password.$error">
                            <div ng-message="required">Por favor, preencha sua senha</div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align-gt-xs="end" layout-align="center">
                        <md-button ng-click="logIn()" ng-disabled="loginForm.$invalid" flex-xs="100" class="md-raised">Entrar</md-button>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</md-content>
