<div id="logs" class="bg-white">
    <div class="search-container">
        <div id="admin-logs-timestamp">Atualizado às {{ listUpdatedAt | date:'HH:mm:ss' }}</div>
        <div class="input-group">
            <input type="text" name="search" ng-model="searchText" class="form-control">
            <svg viewBox="0 0 21 21">
                <use xlink:href="../../images/icon-search.svg#svg-search"></use>
            </svg>
        </div>
    </div>
    <div id="logs-container" ng-class="searchText.length <= 0 && logs.length <= 0 ? 'log-empty' : ''">
        <div class="row log-container" ng-repeat="log in logs" my-log="log"></div>

        <div ng-if="searchText.length <= 0 && logs.length <= 0" class="row log-container log-placeholder">
            <div>Nenhum convidado fez check-in hoje</div>
        </div>
        <div ng-if="searchText.length > 0 && logs.length <= 0" class="row log-container log-placeholder">
            <div>Nenhum convidado encontrado</div>
        </div>
    </div>
</div>
