<body>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
              </tr>

              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_top.jpg"
                       alt="Hello! This code is your entry to the ASICS Hub." width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth" bgcolor="#FFFFFF">
              <tbody>

              <tr>
                <td height="180" width="211" class="qrcode-lateral" align="left">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_left_hand.jpg"
                       alt="If you are having problems to see your code, go to http://asicshub.com.br/rsvp/confirm/<%= @user.invite_token %>"
                       class="hand"
                       height="180"
                       width="211"
                       style="display: block;"
                  />
                </td>
                <td align="center" height="180" width="178" class="qrcode-container" bgColor="#ffffff">
                  <div id="qrcode" height="150" width="150" >
                    <table style="
                              border-width: 0;
                              border-style: none;
                              border-collapse: collapse;">
                      <%= raw @qr_code_html.html_safe %>
                    </table>
                  </div>
                </td>
                <td height="180" width="211" class="qrcode-lateral" align="right">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_right_hand.jpg"
                       class="hand"
                       height="180"
                       width="211"
                       alt="You have got to"
                       style="display: block;"
                  />
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable" st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>

              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_bottom_code.jpg"
                       alt="WANT IT MORE" width="600" class="qrcode-bottom-code" style="display: block;"/>
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="35" class="qrcode-bottom qrcode-bottom-lateral">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_left.jpg"
                       alt="You can"
                       class="qrcode-bottom qrcode-bottom-lateral"
                       height="35" width="171"
                       style="display: block;"/>
                </td>
                <td height="35" class="qrcode-bottom qrcode-bottom-button">
                  <a href="http://asicshub.com.br/rsvp/print/<%= @user.invite_token %>" target="_blank">
                    <img src="http://asicshub.com.br/images/email/asics-qrcode_print.jpg"
                         alt="print your code"
                         class="qrcode-bottom qrcode-bottom-button"
                         height="35" width="116"
                         style="display: block;"/>
                  </a>
                </td>
                <td height="35" class="qrcode-bottom qrcode-bottom-middle">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_middle.jpg"
                       alt="or"
                       class="qrcode-bottom qrcode-bottom-middle"
                       height="35" width="26"
                       style="display: block;"/>
                </td>
                <td height="35" class="qrcode-bottom qrcode-bottom-button">
                  <a href="http://asicshub.com.br/files/passbook?qr_code=<%= @user.qr_code %>" target="_blank">
                    <img src="http://asicshub.com.br/images/email/asics-qrcode_wallet.jpg"
                         alt="add to Apple Wallet"
                         class="qrcode-bottom qrcode-bottom-button"
                         height="35" width="116"
                         style="display: block;"/>
                   </a>
                </td>
                </a>
                <td height="35" class="qrcode-bottom qrcode-bottom-lateral">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_right.jpg"
                       alt="if you want"
                       class="qrcode-bottom qrcode-bottom-lateral"
                       height="35" width="171"
                       style="display: block;"/>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>

              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics-qrcode_bottom.jpg"
                       alt="It gives us great pleasure to invite you to our ASICS Hub during the 2016 Rio Olympics."
                       width="600"
                       style="display:block; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_09.jpg"
                       alt="When: AUGUST 03RD UNTIL AUGUST 21ST."
                       width="600"
                       style="display:block; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_10.jpg"
                       alt="Time: FROM 12PM TO 10PM."
                       width="600"
                       style="display:block; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_11.jpg"
                       alt="Where: Est. Boca do Mato, 803 Vargem pequena Rio de Janeiro"
                       width="600"
                       style="display:block; margin:0 auto"/>
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
