<body>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <table width="580" align="center" cellpadding="0" cellspacing="0" border="0"
                         class="devicewidthinner">
                    <tbody>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_top.jpg"
                             alt="WANT IT MORE" width="580"
                             style="display:block; width:100%; margin:0 auto"/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td>
                  <table width="580" align="center" cellpadding="0" cellspacing="0" border="0"
                         class="devicewidthinner">
                    <tbody>
                    <tr>
                      <td height="174" width="204" class="qrcode-lateral">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_left_hand.jpg"
                             alt="WANT IT MORE"
                             class="hand"
                             height="174"
                             width="204"
                        />
                      </td>
                      <td align="center" width="172" class="qrcode-container" bgColor="#ffffff">
                        <div id="qrcode" height="170" width="170" >
                          <table style="
                              border-width: 0;
                              border-style: none;
                              border-collapse: collapse;">
                              <%= raw @qr_code_html.html_safe %>
                          </table>
                        </div>
                      </td>
                      <td height="174" width="204" class="qrcode-lateral">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_right_hand.jpg"
                             class="hand"
                             height="174"
                             width="204"
                             alt="WANT IT MORE"
                        />
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable" st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td>
                  <table width="580" align="center" cellpadding="0" cellspacing="0" border="0"
                         class="devicewidthinner">
                    <tbody>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_bottom_code.jpg"
                             alt="WANT IT MORE" width="580" class="qrcode-bottom-code"/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td>
                  <table width="580" align="center" cellpadding="0" cellspacing="0" border="0"
                         class="devicewidthinner">
                    <tbody>
                    <tr>
                      <td height="33" class="qrcode-bottom qrcode-bottom-lateral">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_left.jpg"
                             alt="WANT IT MORE"
                             class="qrcode-bottom qrcode-bottom-lateral"
                             height="35" width="165"/>
                      </td>
                      <td height="33" class="qrcode-bottom qrcode-bottom-button">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_print.jpg"
                             alt="WANT IT MORE"
                             class="qrcode-bottom qrcode-bottom-button"
                             height="35" width="100"/>
                      </td>
                      <td height="33" class="qrcode-bottom qrcode-bottom-middle">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_middle.jpg"
                             alt="WANT IT MORE"
                             class="qrcode-bottom qrcode-bottom-middle"
                             height="35" width="50"/>
                      </td>
                      <td height="33" class="qrcode-bottom qrcode-bottom-button">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_wallet.jpg"
                             alt="WANT IT MORE"
                             class="qrcode-bottom qrcode-bottom-button"
                             height="35" width="100"/>
                      </td>
                      <td height="33" class="qrcode-bottom qrcode-bottom-lateral">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_right.jpg"
                             alt="WANT IT MORE"
                             class="qrcode-bottom qrcode-bottom-lateral"
                             height="35" width="165"/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td>
                  <table width="580" align="center" cellpadding="0" cellspacing="0" border="0"
                         class="devicewidthinner">
                    <tbody>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics-qrcode_bottom.jpg"
                             alt="WANT IT MORE" width="580"
                             style="display:block; width:100%; margin:0 auto"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics_09.jpg"
                             alt="WANT IT MORE" width="580"
                             style="display:block; width:100%; margin:0 auto"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics_10.jpg"
                             alt="WANT IT MORE" width="580"
                             style="display:block; width:100%; margin:0 auto"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics_11.jpg"
                             alt="WANT IT MORE" width="580"
                             style="display:block; width:100%; margin:0 auto"/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
