<body>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <table width="580" align="center" cellpadding="0" cellspacing="0" border="0"
                         class="devicewidthinner">
                    <tbody>
                    <tr>
                      <td align="center">
                        <table width="580" height="773" border="0" cellspacing="0" cellpadding="20"
                               background="http://asicshub.com.br/images/email/asics_08.jpg"
                               style="background-repeat: no-repeat; background-size: cover; margin: 0; padding: 0;"
                               class="devicewidthinner background-mobile">
                          <tr>
                            <td height="300" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" class="mobile-row-1">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="center" style="padding: 0;">
                              <div id="qrcode" height="200" width="200"
                                   style="margin: 0 auto; background-color:#FFFFFF; padding: 10px; border-radius: 5px; width: 200px; height: 200px;">
                                <table style="border-width: 0; border-style: none; border-collapse: collapse;">
                                  <%= raw @qr_code_html.html_safe %>
                                </table>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table width="280" align="center" class="action-buttons">
                                <tr>
                                  <td align="left">
                                    <a href="#" target="_blank">
                                      <img src="http://asicshub.com.br/images/add-to-apple-wallet-logo.png" alt="apple wallet" width="120">
                                    </a>
                                  </td>
                                  <td align="right">
                                    <a href="#" target="_blank">
                                      <img src="http://asicshub.com.br/images/button-print.png" alt="print qr-code" width="120">
                                    </a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="90" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" class="mobile-row-2">&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics_09.jpg"
                             alt="WANT IT MORE" width="580"
                             style="display:block; width:100%; margin:0 auto"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <img src="http://asicshub.com.br/images/email/asics_10.jpg"
                             alt="It gives us great pleasure to invite you to our
                             ASICS Hub during the 2016 Rio Olympics.
                             When: AUGUST 03RD UNTIL AUGUST 21ST.
                             Time: FROM 12PM TO 10PM.
                             Where: Est. Boca do Mato, 803 Vargem pequena Rio de janeiro"
                             width="580"
                             style="display:block; width:100%; margin:0 auto"/>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <a href="http://asicshub.com.br/rsvp/confirm/<%= @user.invite_token %>">
                          <img src="asics_11.jpg"
                               alt="Confirm attendance at http://asicshub.com.br/rsvp/confirm/<%= @user.invite_token %>"
                               width="580"
                               style="display:block; width:100%; margin:0 auto"/>
                        </a>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
