<body>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp;</td>
              </tr>

              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_01.jpg"
                       alt="ASICS Hub" width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_02.jpg"
                       alt="Welcome!" width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_03.jpg"
                       alt="This is an open letter to anyone striving
                        to a sporting goal over this summer.
                        If you want it more than all night parties.
                        If you want it more than sleep.
                        If you want it more than perfect hair.
                        Or cake.

                        More than straight teeth and a pretty nose.
                        More than soft hands.
                        If you really want to be an athlete,
                        just wanting it isn't enough.
                        You've got to want it more." width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_04.jpg"
                       alt="WANT IT MORE" width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_05.jpg"
                       alt="It gives us great pleasure to invite you to our
                       ASICS Hub during the 2016 Rio Olympics.
                       When: AUGUST 03RD UNTIL AUGUST 21ST.
                       Time: FROM 12PM TO 10PM.
                       Where: Est. Boca do Mato, 803 Vargem pequena Rio de janeiro"
                       width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <a href="http://asicshub.com.br/rsvp/confirm/<%= @user.invite_token %>">
                    <img src="http://asicshub.com.br/images/email/asics_06.jpg"
                         alt="Confirm attendance at http://asicshub.com.br/rsvp/confirm/<%= @user.invite_token %>"
                         width="600"
                         style="display:block; width:100%; margin:0 auto"/>
                  </a>

                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="http://asicshub.com.br/images/email/asics_07.jpg"
                       alt="Learn more about the schedule at " width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>

              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
