<md-content id="main-container" class="md-padding">
    <div id="form-content" layout="row">
        <md-card flex-offset-gt-xs="40" flex-gt-xs="50" flex="flex">
            <md-card-content>
                <div id="rsvp-header" layout="row">
                    <img src="images/asics-logo.png">
                </div>
                <div class="md-padding" layout="row">
                    <h2>{{strings.hello}}, {{guest.name}}</h2>
                </div>
                <div layout="row">
                    <form name="userForm">
                        <div flex="flex" class="md-padding">{{strings.formLabelMusic}}</div>
                        <div flex="flex" class="md-padding">
                            <input id="form-music" class="form-control" ng-model="guest.music" name="music"
                                   required="required" names-only="names-only"/>
                            <div ng-messages="userForm.name.$error">
                                <div ng-message="required">{{strings.formErrorRequiredMusic}}</div>
                            </div>
                        </div>
                        <div flex="flex" class="md-padding">
                            <button id="rsvp-confirm-button" ng-click="confirmInvitation()"
                                    ng-disabled="userForm.$invalid" flex-xs="100"
                                    class="md-padding btn btn-default centered">
                                {{strings.formButtonConfirmPresence}}
                            </button>
                        </div>
                    </form>
                </div>

            </md-card-content>
        </md-card>
    </div>
</md-content>
