<md-content id="main-container" class="md-padding">
    <div id="form-content" layout="row">
        <md-card flex-offset-gt-sm="15" flex-gt-sm="66" flex="flex">
            <md-card-content>
                <div class="container-fluid">
                    <h2 class="md-padding">Casa Asics</h2>
                    <div style="margin-bottom: 40px">
                        <p ng-repeat="info in confInfo.payment.infos track by $index" ng-bind-html="info | to_html" class="item md-padding"></p>
                    </div>
                    <form name="userForm" class="md-padding">
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs="100" class="md-block">
                                <label>Nome *</label>
                                <input ng-model="guest.name" name="name" required="required" names-only="names-only"/>
                                <div ng-messages="userForm.name.$error">
                                    <div ng-message="required">Por favor, preencha seu nome</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs="100" class="md-block">
                                <label>Email *</label>
                                <input ng-model="guest.email" name="email" type="email" minlength="5" maxlength="100" ng-pattern="/^.+@.+..+$/" required="required" readonly/>
                                <div ng-messages="userForm.email.$error" multiple="" md-auto-hide="true">
                                    <div ng-message="required">Por favor, preencha seu email</div>
                                    <div ng-message="pattern">Email inválido</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs="100" class="md-block">
                                <label>Nascimento *</label>
                                <input ng-model="guest.birthday" type="text" name="birthday" mask="39/19/9999" restrict="reject" required="required"/>
                                <div ng-messages="userForm.date.$error">
                                    <div ng-message="required">Preencha sua data de nascimento</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="guest.isVegan" aria-label="Is vegan?">Sou vegano</md-checkbox>
                            <md-checkbox ng-model="guest.dontDrink" aria-label="Dont drink?">Não bebo bebida alcólica</md-checkbox>
                        </div>
                        <div layout="row" layout-align-gt-xs="end" layout-align="center">
                            <md-button id="confirm-button" ng-click="confirmInvitation()" ng-disabled="userForm.$invalid" flex-xs="100" class="md-raised button-dark">Confirmar presença</md-button>
                        </div>
                    </form>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<!--DIALOG TEMPLATE-->
<script type="text/ng-template" id="tabDialog.confirm.html">
    <md-dialog aria-label="Imprima seu código">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1 style="color:white">{{ guest.name }}, Esse é seu código para entrar no evento</h1>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:1200px;padding:20px;">
            <div layout="row" class="qrcode-container">
                <qrcode data="string" size="200" download=""></qrcode>
            </div>
            <md-dialog-actions layout="row">
                <md-button ng-click="confirm()" class="md-raised button-dark">OK</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </md-dialog>
</script>
