#destaque-home
  margin-top: -13px
  /*padding-bottom: 50px
  z-index: 1
  .content-box-home.meio
    max-width: none

.meio
  max-width: 940px
  margin: 0 auto
  position: relative

#menu-superior
  float: left
  margin-top: 17px
  .ms-list .ms-item
    float: left
    padding: 0 21px 0 10px
    .ms-link
      font: bold italic 12px $helvetica
      color: #fff
      text-decoration: none
      &:hover
        color: #3db7e4
    &.divisoria
      background: url(/images/hotsite/divisoria-menu-superior.jpg) top right no-repeat

#header
  width: 100%
  height: 50px
  background-color: #0b2266
  border-bottom: 4px solid #3eb7e6
  /*background: url(/images/hotsite/bg-header.jpg) top left repeat-x
  #content-header
    background: url(/images/hotsite/bg-header-fixed.png) top left repeat-x
  .extra-content
    display: none
  &.fixed
    margin-bottom: 79px

#header-fixed
  width: 100%
  height: 67px
  position: relative
  top: 0
  left: 0
  z-index: 2
  background: url(/images/hotsite/bg-header-fixed.png) top left repeat-x
  @include media(xs)
    height: 52px
  &.fixed
    position: fixed
    top: 0
    z-index: 30

#bg-cinza
  height: 66px
  position: absolute
  top: 0
  left: 25%
  right: 0
  background: url(/images/hotsite/bg-cinza.jpg) top left repeat-x
  @include media(xs)
    display: none

#bg-cinza-2
  height: 66px
  position: absolute
  right: 0
  left: 80%
  background: url(/images/hotsite/bg-cinza.jpg) top left repeat-x
  @include media(xs)
    display: none

#rs-list .rs-item
  height: 30px
  float: left
  margin-left: 3px
  background: url(/images/hotsite/sprite-rede-social.png) no-repeat
  .rs-link
    width: 30px
    height: 30px
    float: left
    display: block
  &.flicker
    width: 30px
    background-position: 0 0
    &:hover
      background-position: 0 -29px
  &.instagram
    width: 30px
    background-position: -34px 0
    &:hover
      background-position: -34px -29px
  &.peaple
    width: 30px
    background-position: -68px 0
    &:hover
      background-position: -68px -29px
  &.twitter
    width: 30px
    background-position: -102px 0
    &:hover
      background-position: -102px -29px
  &.facebook
    width: 30px
    background-position: -136px 0
    &:hover
      background-position: -136px -29px
  &.youtube
    width: 61px
    background-position: -170px 0
    .rs-link
      width: 60px !important
    &:hover
      background-position: -170px -29px
  &.email
    width: 40px
    background-position: -235px 0
    .rs-link
      width: 40px !important
    &:hover
      background-position: -235px -29px

#redes-sociais
  float: right
  margin-top: 9px
  @include media(xs)
    display: none
  .rs-menu
    display: none

.win #search-input
  margin-top: 1px !important

#search-nav
  .sn-btn
    display: none
  #search
    width: 222px
    height: 27px
    padding-left: 5px
    position: absolute
    top: 12px
    right: -1px
    background: url(/images/hotsite/bg-search.jpg)
    #search-input
      width: 170px
      height: 22px
      margin: 4px 0 0 10px
      border: none
      font: italic 13px $helvetica-bold
      color: #8f8f8f
      box-shadow: none
    input[type="submit"]
      width: 23px
      height: 20px
      border: none
      opacity: 0
      cursor: pointer
      margin: 4px 0 0 12px
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"

#logo
  cursor: pointer
  margin-top: 6px
  z-index: 9
  .logo-link
    display: block
  img
    width: auto
    height: 37px
    @include media(xs)
      height: 27px

#menu-inferior
  height: 66px
  position: absolute
  left: 155px
  top: 0
  @include media(xs)
    display: none
  .mi-menu
    display: none
  .mi-list .mi-item
    cursor: pointer
    float: left
    clear: none
    margin-left: -16px
    .mi-item-link
      display: block
      padding: 0px 26px
      font: italic 17px/67px $helvetica-cn
      color: #8f8f8f
      outline: none
      text-decoration: none
      text-transform: uppercase
      background: url(/images/hotsite/bg-nav-inferior.png) 0 100% repeat-x
      &:hover, .ativo
        background-position: -500px 100%
        color: #444
  #li-last:hover
    cursor: default
    background: url(/images/hotsite/bg-nav-inferior.png) 0 100% repeat-x
