@import "asicswebsite"

#hotsite-container
  background-color: $white

.hide-overflow
  overflow: hidden

.header-container
  position: fixed
  width: 100%
  background-color: $white
  z-index: 1

section
  width: 100%
  display: table

.section-title
  height: 120px
  width: 340px
  border: 2px solid $blue
  font: 600 40px/112px $helvetica-medium
  color: $blue
  text-align: center

.vertical-align
  display: table-cell
  vertical-align: middle

section#home
  width: 100%
  overflow: hidden
  position: relative
  height: 100vh
  background: $white
  .home
    display: table
    width: 100%
  .vertical-align
    height: 100vh
    width: 100%
    position: relative
  video
    margin-top: 25px
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
  h1
    line-height: 140px
    font-size: 100px
    font-family: $helvetica-bold
    font-weight: 600
    text-align: center
  sup
    top: -64px
    font-size: 10px
    font-family: $helvetica-medium
    font-weight: 600
  .slogan
    line-height: 55px
    font-family: $helvetica-bold
    font-size: 30px
    font-weight: 900
  .watch
    line-height: 30px
    font-family: $helvetica-bold
    font-size: 10px
    font-weight: 900
    letter-spacing: 3px

.player-container
  cursor: pointer
  border: 1px solid $white
  border-radius: 80px
  height: 80px
  width: 80px
  &:hover
    background-color: rgba(0, 0, 0, 0.3)

.player
  width: 0
  height: 0
  border-top: 13px solid transparent
  border-bottom: 13px solid transparent
  border-left: 24px solid $white
  margin: 25px 30px

.youtube-video
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2
  background-color: rgba(0, 0, 0, 0.8)
  iframe
    height: 90vh
    margin: 50px auto
    display: block

.button-close-video
  cursor: pointer
  position: absolute
  top: 30px
  right: 55px
  img
    height: 40px
    width: 40px

section#lineup
  height: 400px
  @include media(sm)
    height: 630px
  .container
    padding: 0 50px
  .section-title
    font-size: 23px


.lineup-info
  float: right
  height: 260px
  border-left: 2px solid $blue
  padding-left: 40px
  @include media(sm)
    float: none
    text-align: center
  @include media(xs)
    float: none
    text-align: center

  .info-when
    margin-top: 50px
    font-weight: 600
    margin-bottom: 5px

  .info-day
    font-size: 26px
    line-height: 28px

  .info-hour
    font-size: 16px
    font-weight: 400
    line-height: 24px
    width: 260px
    border-top: 1px solid $gray
    margin-top: 5px
    @include media(sm)
      display: block
      margin: 0 auto
    @include media(xs)
      display: block
      margin: 0 auto

.lineup-message
  padding-top: 15px
  padding-right: 40px
  .message-description
    float: right
    p
      font-size: 16px
      font-weight: 400
      line-height: 23px

  .message-slogan
    float: right
    margin-top: 20px
    @include media(sm)
      margin-top: 30px
    p
      font: italic 900 20px/35px $helvetica-medium


section#hub
  height: 100vh
  background-color: $blue-light
  .section-title
    position: absolute
    top: 60px
    left: 90px
    color: $white
    border-color: $white

section#route
  height: 700px
  .section-title
    position: absolute
    top: 60px
    right: 90px

#google-map
  height: 700px
  width: 100%

.gmnoprint
  display: none

.directions-dialog
  cursor: pointer
  background-color: $white
  border: 2px solid $blue
  padding: 20px 15px
  position: absolute
  top: 210px
  right: 90px
  width: 470px
  height: 92px
  opacity: 0.85
  animation: increase ease 0.2s
  transition: height $anim-duration, padding $anim-duration

  .dialog-top
    padding-left: 10px
    padding-right: 10px

  .dialog-title
    font-size: 28px
    line-height: 48px
    font-weight: 600

  .dialog-start
    margin-top: 15px
    color: $black-light
    font-size: 20px
    font-style: italic
    border-bottom: 2px solid $blue
    width: 100%
    padding: 6px 0
    input
      width: 400px
      padding-left: 0
      border: none
      background-color: transparent
      box-shadow: 0

  .dialog-end
    margin-top: 30px
    font-size: 20px
    border-bottom: 2px solid $blue
    width: 100%
    line-height: 25px
    padding: 6px 0

  .dialog-icon img
    width: 18px
    height: 192px

.directions-dialog-button
  color: $blue
  position: absolute
  top: 243px
  right: 120px
  width: 25px
  height: 25px

.dialog-distance
  background-color: $blue
  font-size: 14px
  text-transform: uppercase
  line-height: 36px
  height: 36px

.dialog-button-new
  font-size: 14px
  line-height: 36px
  text-align: center
  height: 36px
  button
    width: 100%

.dialog-bottom
  opacity: 0

.dialog-button-open
  transform: rotate(0deg)
  transition: transform $anim-duration

.dialog-button-close
  transform: rotate(135deg)
  transition: transform $anim-duration

.dialog-open
  height: 260px
  .dialog-content
    opacity: 1
    transition: opacity $anim-duration

.dialog-bottom-open
  height: 300px
  .dialog-bottom
    opacity: 1
    transition: opacity, height $anim-duration
    transition-delay: $anim-duration

.dialog-close
  .dialog-content
    opacity: 0
  .dialog-bottom
    height: 0




