/* -------------------------------------
 * MEDIA QUERIES
 * -------------------------------------
@mixin media($breakpoint)
	$mq-xs: "(max-width: 767px)"
	$mq-sm: "(min-width: 768px) and (max-width: 991px)"
	$mq-md: "(min-width: 992px) and (max-width: 1199px)"
	$mq-lg: "(min-width: 1200px)"

	@if $breakpoint == xs
		@media #{$mq-xs}
			@content

	@if $breakpoint == sm
		@media #{$mq-sm}
			@content

	@if $breakpoint == md
		@media #{$mq-md}
			@content

	@if $breakpoint == lg
		@media #{$mq-lg}
			@content

/* -------------------------------------
 * COLORS
 * -------------------------------------
$black: #191919
$black-light: #686868
$white: #FFFFFF
$blue-light: #3CB3E0
$gray-dark: #878787
$gray-medium: #C1C1C1
$gray-light: #F9F9F9
$gray: #EAEAEA
$green: #67AF41
$orange: #ED8E2F
$red: #DC3131

/* -------------------------------------
 * VARS
 * -------------------------------------
$border-radius: 8px



$dark-primary-color: #0B2266
$primary-color: #D9D9D9
$light-primary-color: #F5F5F5
$icons-color: #212121
$accent-color: #3EB7E6
$secondary-accent-color: #0C3C64
$primary-text: #0B2266
$secondary-text: #727272
$divider-color: #B6B6B6

/* -------------------------------------
 * FONTS
 * -------------------------------------
$helvetica: Helvetica, Arial, sans-serif
$open-sans: 'Open Sans', sans-serif
