/* -------------------------------------
 * MEDIA QUERIES
 * -------------------------------------
@mixin media($breakpoint)
  $mq-xs: "(max-width: 767px)"
  $mq-sm: "(min-width: 768px) and (max-width: 991px)"
  $mq-md: "(min-width: 992px) and (max-width: 1199px)"
  $mq-lg: "(min-width: 1200px)"

  @if $breakpoint == xs
    @media #{$mq-xs}
      @content

  @if $breakpoint == sm
    @media #{$mq-sm}
      @content

  @if $breakpoint == md
    @media #{$mq-md}
      @content

  @if $breakpoint == lg
    @media #{$mq-lg}
      @content

/* -------------------------------------
 * COLORS
 * -------------------------------------
$black: #191919
$black-light: #686868
$white: #FFFFFF
$blue-light: #3DB7E4
$blue: #000066
$gray-dark: #878787
$gray-medium: #C1C1C1
$gray-light: #F9F9F9
$gray: #EAEAEA
$green-dark: #62A33D
$green-light: #BEEAA5
$green: #67AF41
$orange-dark: #E6872E
$orange-light: #F3C6A6
$orange: #ED8E2F
$red: #DC3131

/* -------------------------------------
 * VARS
 * -------------------------------------
$border-radius: 8px
$anim-duration: 0.15s

/* -------------------------------------
 * FONTS
 * -------------------------------------
@font-face
  font-family: 'Helvetica Neue'
  src: url('../fonts/Helvetica.eot')
  src: url('../fonts/Helvetica.eot?#iefix') format("eot"), url('../fonts/Helvetica.woff') format("woff"), url('../fonts/Helvetica.ttf') format("truetype"), url('../fonts/Helvetica.svg') format("svg")

@font-face
  font-family: "HelveticaNeueBold"
  src: url("../fonts/helveticaneueltstd-bdcn.eot")
  src: url("../fonts/helveticaneueltstd-bdcn.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-bdcn.woff") format("woff"), url("../fonts/helveticaneueltstd-bdcn.ttf") format("truetype"), url("../fonts/helveticaneueltstd-bdcn.svg#HelveticaNeueLTStd77BoldCondensed") format("svg")


@font-face
  font-family: "HelveticaNeueMedium"
  src: url("../fonts/helveticaneueltstd-mdcno.eot")
  src: url("../fonts/helveticaneueltstd-mdcno.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-mdcno.woff") format("woff"), url("../fonts/helveticaneueltstd-mdcno.ttf") format("truetype"), url("../fonts/helveticaneueltstd-mdcno.svg#HelveticaNeueLTStd67MediumCondensedOblique") format("svg")

@font-face
  font-family: "HelveticaNeueBlack"
  src: url("../fonts/Helvetica-Black.eot")
  src: url("../fonts/Helvetica-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-Black.woff") format("woff"), url("../fonts/Helvetica-Black.ttf") format("truetype"), url("../fonts/Helvetica-Black.svg") format("svg")

//@font-face
//  font-family: "HelveticaNeueBlackCondensedRegular"
//  src: url("../fonts/helveticaneuecondensed.eot")
//  src: url("../fonts/helveticaneuecondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecondensed.woff") format("woff"), url("../fonts/helveticaneuecondensed.ttf") format("truetype"), url("../fonts/helveticaneuecondensed.svg#HelveticaNeueBlackCondensedRegular") format("svg")
//
//
//@font-face
//  font-family: "HelveticaNeueLTStdCn"
//  src: url("../fonts/helveticaneueltstd-bdcno.eot")
//  src: url("../fonts/helveticaneueltstd-bdcno.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-bdcno.woff2") format("woff2"), url("../fonts/helveticaneueltstd-bdcno.woff") format("woff"), url("../fonts/helveticaneueltstd-bdcno.ttf") format("truetype"), url("../fonts/helveticaneueltstd-bdcno.svg#HelveticaNeueLTStd77BoldCondensedOblique") format("svg")
//
//
//@font-face
//  font-family: "HelveticaNeueLTStd67MediumCondensed"
//  src: url("../fonts/helveticaneueltstd-mdcn.eot")
//  src: url("../fonts/helveticaneueltstd-mdcn.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-mdcn.woff") format("woff"), url("../fonts/helveticaneueltstd-mdcn.ttf") format("truetype"), url("../fonts/helveticaneueltstd-mdcn.svg#HelveticaNeueLTStd67MediumCondensed") format("svg")


@font-face
  font-family: "helveticaNeueCn"
  src: url("../fonts/helveticaneueltstd-cn-webfont.eot")
  src: url("../fonts/helveticaneueltstd-cn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-cn-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-cn-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-cn-webfont.svg#helvetica_neue_lt_std57Cn") format("svg")
  font-weight: normal
  font-style: normal


//@font-face
//  font-family: "HelveticaNeueLTStdMd"
//  src: url("../fonts/helveticaneueltstd-md-webfont.eot")
//  src: url("../fonts/helveticaneueltstd-md-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltstd-md-webfont.woff") format("woff"), url("../fonts/helveticaneueltstd-md-webfont.ttf") format("truetype"), url("../fonts/helveticaneueltstd-md-webfont.svg#helvetica_neue_lt_std65Md") format("svg")
//  font-weight: normal
//  font-style: normal
//
//
//@font-face
//  font-family: "HelveticaLTStdBlk"
//  src: url("../fonts/HelveticaLTStdBlk.eot")
//  src: url("../fonts/HelveticaLTStdBlk.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStdBlk.woff2") format("woff2"), url("../fonts/HelveticaLTStdBlk.woff") format("woff"), url("../fonts/HelveticaLTStdBlk.ttf") format("truetype"), url("../fonts/HelveticaLTStdBlk.svg#HelveticaLTStdBlk") format("svg")


$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif
$helvetica-bold: 'HelveticaNeueBold', Helvetica, Arial, sans-serif
$helvetica-medium: 'HelveticaNeueMedium', Helvetica, Arial, sans-serif
$helvetica-black: 'HelveticaNeueBlack', Helvetica, Arial, sans-serif
$helvetica-cn: 'helveticaNeueCn', Helvetica, Arial, sans-serif
//$helvetica-black-c-regular: 'HelveticaNeueBlackCondensedRegular', Helvetica, Arial, sans-serif
//$helvetica-lt-std-cn: 'HelveticaNeueLTStdCn', Helvetica, Arial, sans-serif
//$helvetica-lt-std-md: 'HelveticaNeueLTStdMd', Helvetica, Arial, sans-serif
//$helvetica-lt-std-blk: 'HelveticaLTStdBlk', Helvetica, Arial, sans-serif
//$helvetica-lt-std-medium-c: 'HelveticaNeueLTStd67MediumCondensed', Helvetica, Arial, sans-serif

/* -------------------------------------
 * ANIMATIONS
 * -------------------------------------
@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fadeInDown
  0%
    opacity: 0
    transform: translate(0px, -25px)

  100%
    opacity: 1
    transform: translate(0px, 0px)

@keyframes increase
  0%
    opacity: 0
    transform: scale(1, 0.5)

  100%
    opacity: 1
    transform: scale(1, 1)

@keyframes decrease
  0%
    transform: scale(1, 1.5)

  100%
    transform: scale(1, 1)
